.apie-mane-section {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 6rem 0;
}

.apie-container {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.apie-title-section {
  text-align: center;
  margin-bottom: 4rem;
}

.apie-title {
  background-color: white;
  color: #2b6838;
  padding: 1.5rem 3rem;
  font-size: 2.25rem;
  font-weight: 500;
  display: inline-block;
  border-radius: 0.375rem;
  border: 2px solid #2b6838;
}
.apie-image-wrapper {
  text-align: center;
}
.apie-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.apie-karina-image {
  width: auto;
  height: 95vh;
  object-fit: cover;
  border-radius: 0.375rem;
  border: 2px solid #F5EABD;
}

.apie-text-container {
  flex: 1;
  margin: 0 auto;
  min-width: fit-content;
}

.apie-text-box {
  background-color: rgba(57, 71, 54, 0.85);
  padding: 3rem;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  border: 2px solid #F5EABD;
  margin-left: 20px;
}

.apie-text-content {
  /* margin-bottom: 1.5rem; */
  font-size: 0.8rem;
  line-height: 2;
  color: #F5EABD;
}

/* Responsive design for tablets and smaller screens */
@media (max-width: 1200px) {
  .apie-content-wrapper {
    flex-direction: column;
  }

  .apie-patirtis-container > .apie-text-container {
  animation: blurAnimation both;
  animation-timeline: view();
}
  .apie-patirtis-container{
    display:flex;
    flex-direction:column;
    max-height: 600px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.75rem;
    border: 2px solid #2b6838;
    padding-top: 20%;
  }
.apie-image-wrapper{
    margin-bottom: 20px;
  }
  .apie-karina-image {
    width: 100%;
    height: auto;
    max-height: 70vh;
  }
  .apie-text-container {
    margin-top: 1rem;
  }
  .apie-text-box {
    margin: 0;
  }
  .apie-text-content {
    font-size: 1rem;
    line-height: 1.75;
  }

}

/* Responsive design for mobile phones */
@media (max-width: 640px) {
  .apie-container {
    padding: 1.5rem 1rem;
  }
  /* .apie-patirtis-container > .apie-text-container {
  animation: blurAnimation both;
  animation-timeline: view();
}
  .apie-patirtis-container{
    display:flex;
    flex-direction:column;
    max-height: 600px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.75rem;
    border: 2px solid #2b6838;
    padding-top: 5rem;
  } */

  .apie-image-wrapper{
    margin-bottom: 20px;
  }

  .apie-title {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  .apie-text-content {
    font-size: 0.7rem;
    line-height: 1.75;
    letter-spacing: 0.5px;
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(10px);
  }

  45%,
  55% {
    filter: blur(0px);
  }

  100% {
    filter: blur(10px);
  }
}
