.apie-mane-section {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 6rem 0;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(57, 71, 54, 0.85);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F5EABD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}

.apie-container {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.apie-title-section {
  text-align: center;
  margin-bottom: 4rem;
}

.apie-title {
  background-color: white;
  color: #2b6838;
  padding: 1.5rem 3rem;
  font-size: 2.25rem;
  font-weight: 500;
  display: inline-block;
  border-radius: 0.375rem;
  border: 2px solid #2b6838;
}
.apie-image-wrapper {
  text-align: center;
}
.apie-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.apie-karina-image {
  width: auto;
  height: 95vh;
  object-fit: cover;
  border-radius: 0.375rem;
  border: 2px solid #F5EABD;
}

.apie-text-container {
  flex: 1;
  margin: 0 auto;
  min-width: fit-content;
}

.apie-text-box {
  background-color: rgba(57, 71, 54, 0.85);
  padding: 3rem;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  border: 2px solid #F5EABD;
  margin-left: 20px;
}

.apie-text-content {
  /* margin-bottom: 1.5rem; */
  font-size: 0.8rem;
  line-height: 2;
  color: #F5EABD;
}

/* Responsive design for tablets and smaller screens */
@media (max-width: 1200px) {
  .apie-content-wrapper {
    flex-direction: column;
  }

  .apie-patirtis-container{
    display:flex;
    flex-direction:column;
    max-height: 600px;
    overflow-y: scroll;
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(10.7px);
    border: 2px solid #F5EABD;
    padding: 20px 5px 40px 5px;
  }
.apie-image-wrapper{
    margin-bottom: 40px;
  }
  .apie-karina-image {
    width: 70%;
    height: auto;
    max-height: 80vh;
  }
  .apie-text-container {
    margin-top: 1rem;
  }
  .apie-text-box {
    margin: 0;
  }
  .apie-text-content {
    font-size: 1rem;
    line-height: 1.75;
  }

  /* Track */
.apie-patirtis-container::-webkit-scrollbar-track {
  margin-top: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
}

/* Handle */
.apie-patirtis-container::-webkit-scrollbar-thumb {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
}

/* Responsive design for mobile phones */
@media (max-width: 640px) {
  .apie-container {
    padding: 1.5rem 1rem;
  }
 
  .apie-image-wrapper{
    margin-bottom: 20px;
  }
  .apie-karina-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .apie-title {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  .apie-text-content {
    font-size: 0.7rem;
    line-height: 1.75;
    letter-spacing: 0.5px;
  }
}

